:root {
  --bgClr: #282d35;
  --textClr: #f0f0f0;
  --bgNavClr: #21222a;
  --accentClr: #61dafb;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@font-face {
  font-family: 'Dancing';
  src: url('./Dancing_Script/DancingScript-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  src: url('./Inter/Inter-VariableFont_slnt\,wght.ttf') format('truetype');
}

body {
  background: var(--bgClr);
  background-image: url('/react-icon-large.png');
  background-repeat: no-repeat;
  background-position: right 60%;
  color: var(--textClr);
  font-family: Inter, sans-serif;
}

.navbar {
  display: flex;
  align-items: center;
  padding: 2rem;
  background: var(--bgNavClr);
}

.navbar > h3 {
  margin-right: auto;
  color: var(--accentClr);
}

/* Main styles */
main.main {
  margin: 10vh auto;
  max-width: 70%;
  width: 30%;
}

.main--list > li {
  font-family: Dancing;
  list-style: disc inside;
  line-height: 1.2;
  font-size: 3.7rem;
  margin-top: 1.5rem;
  padding: 0;
  padding: auto;
}
.main--title {
  letter-spacing: -0.075em;
}
.main--list > li::marker {
  color: var(--accentClr);
  font-size: 39px;
  margin: 0;
  padding: 0;
}
